$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "variables.scss";
@import "cardiacvisits.scss";
@import "cardiacinsurance.scss";
// endbower

body {
  padding: 0;
  font-family: $roboto;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.top-bar {
  background: $top-bar-blue;
  min-height: 20px;
}
.header {
  background-color: $google-blue;
  border-bottom: 1px solid #e5e5e5;
  min-height: 200px;
  margin-bottom: 10px;
  position: relative;

  .search-input-container {
    .search-input {
      background: #00aeff;
      border: none;
      border-bottom: 1px solid #82daff;
      margin: 2rem 0 0 1.5rem;
      min-width: 340px;
      &::-webkit-input-placeholder {
          color: #82daff;
          font-size: 1.8rem;
          font-weight: 300;
      }
    }
  }
  .toolbar {
    margin-top: 2rem;
    .more-menu {
      margin-right: 2rem;
    }
    .more-menu,
    .info {
      float: right;
      &.glyphicon {
        color: $white;
        font-size: 1.8rem;
      }
    }
  }
  .navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    .nav-bar {
      float: right;
      list-style-type: none;
      padding-left: 0;
      .nav-link {
        display: inline-block;
        margin: 0 .95rem;
        &.active {
          a {
            color: $white;
            padding-bottom: .8rem;
            text-decoration: none;
            transition: .2s;
            border-bottom: 3px solid $dark-blue;
          }
        }
        &:last-child {
          a {
            margin-right: .5rem;
          }
          .glyphicon {
            font-size: 1rem;
            color: $google-light-blue;
          }
        }
        a {
          color: $google-light-blue;
          font-size: 1.2rem;
          text-transform: uppercase;
          transition: .2s;
          &:hover {
            color: $white;
            text-decoration: none;
            transition: .2s;
          }
        }
      }
    }
  }
}
.back-btn {
  position: absolute;
  margin-left: 3rem;
  a.back-link {
    font-family: $roboto;
    color: $light-grey;
    .glyphicon {
      padding-right: 1rem;
    }
  }
}
.aside-container {
  background: $white;
  box-shadow: 0px 0px 7px $light-grey;
  position: relative;
  width: 340px;
  height: 676px;
  top: -15rem;
  bottom: 0;
  right: 0;
  .aside-content {
    padding: 2.5rem;
    h1.main {
      color: $bold-grey;
      font-size: 3rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
    h2.sub {
      color: $light-grey;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .analytics-overview {
      text-align: center;
      .indv-analytic {
        .value {
          color: $bold-grey;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .title {
          color: $offset-dark-grey;
          font-size: 1rem;
        }
      }
    }
  }
  .social-container {
    margin: 1.5rem 0 0 0;
    &.bottom {
      border-bottom: 1px solid $light-grey;
      padding-bottom: 1rem;
      text-align: center;
    }
    .social-link {
      color: $google-blue;
      font-size: 1rem;
      transition: .2s;
      &:hover {
        color: $google-light-blue;
        transition: .2s;
        cursor: pointer;
      }
    }
  }
  .google-maps-embed {
    .map {
      border: 0;
      height: 150px;
      width: 340px;
    }
  }
}
.year-dropdown {
  color: $offset-dark-grey;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1.25rem;
  .glyphicon {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
.graphs-container {
    margin-bottom: 3rem;
    padding: 1rem;
    box-shadow: 0px 0px 7px $light-grey;
    clear: both;
    .graph-title {
      font-size: 1.8rem;
      font-weight: 200;
      margin-left: 1.5rem;
      .glyphicon {
        color: $light-grey;
        float: right;
        font-size: 1.4rem;
        margin-right: 2rem;
        cursor: pointer;
      }
    }
    .line-graph {
      text-align: center;
    }
}

/* Custom page footer */
.footer {
  background: $offset-grey;
  min-height: 100px;
  bottom: 0;
  width: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
