// FONT //

$roboto: 'Roboto', sans-serif;

// COLORS // 

$white:               #fff;
$black:               #000;
$google-blue:         #00aeff;
$google-light-blue:   #80d7ff;
$dark-blue:           #0388d1;
$blue-hue:            #edf9ff;
$top-bar-blue:		  #00a2ff;
$light-grey:          #bdbbbc;
$bold-grey:           #4f4c4d;
$offset-grey:         #f5f5f5;
$offset-dark-grey:    #918f8f;